.container{
  
  min-height: 100vh;
  flex-direction: column;
}
.Comment{
  border-color: black;
  border: solid;
  background-color: white;
  display: flex;
  flex-flow: column;
  
  margin: 2em 25% 5em 25%;
}

.Comment a{
  margin: 6%;
}

.Comment button{
  border-color: black;
  margin: 2%;
  width: 20%;
  height: 10%;
}
.navbar1 {
  background-color: rgb(245, 245, 210);
  display: flex;
  text-align: center;
  font-size: xx-large;
}


.navbar {
  background-color: rgb(69, 69, 189);
  display: flex;

}

.navbar button {
  margin: 2%;
  border-color: black;
  border-width: 9%;
  width: 50%;
  height: 50%;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
}



.profile{
  flex-flow: column;
  background-color: white;
  display: flex;
}

.profil1{
  border: solid;
  background-color: white;
  display: flex;
  flex-flow: column;
  margin-left: 25%;
  margin-right: 25%;
}



.profil2{
  display: flex;
  flex-flow: row;
  flex-direction: row-reverse;
}

.profil2 button{
  border-color: black;
  border: solid;
  width: 9%;
  height: 3%;
  margin: 4%;
}


.Biographie{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 5%;
  padding-left: 10%;
  font-size: 18px;
}
.Biographie a{
  flex: 0 0 50%;
  margin-bottom: 5%;
}

