.container{
  
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.Comment{
  border-color: black;
  border: solid;
  background-color: white;
  display: flex;
  flex-flow: column;
  
  margin: 2em 25% 5em 25%;
}

.Comment a{
  margin: 6%;
}

.Comment button{
  border-color: black;
  margin: 2%;
  width: 20%;
  height: 10%;
}
.navbar1 {
  background-color: rgb(245, 245, 210);
  display: flex;
  text-align: center;
  font-size: xx-large;
}


.navbar {
  background-color:#C7CDFF ;
  display: flex;

}





.profile{
  flex-flow: column;
  background-color: white;
  display: flex;
}

.profil1{
  border: solid;
  background-color: white;
  display: flex;
  flex-flow: column;
  margin-left: 25%;
  margin-right: 25%;
}





.Biographie{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 5%;
  padding-left: 10%;
  font-size: 18px;
}
.Biographie a{
  flex: 0 0 50%;
  margin-bottom: 5%;
}

#Bouton{
  color: black;
}